extends layout

block content

  if error
    p Error getting dynamic content.
  else
    p There are !{data.totalNumber} sensors in the database

  .list-container
    ul
      li.tableheader
        .tableheader-standort Anbieter
        .tableheader-number Anzahl
      hr.line
      each val, index in data.names
        li.tablerow
          img.owner-logo(src="../images/" + index + ".png")
          .owner-name= index
          .owner-number= val
          button.button-collapse
        ul.sublist
          li.sublist-item Sensor1
          li.sublist-item Sensor2

  script(type='text/javascript', src="/javascripts/index.js")  
    
  