extends layout

block content
  h1= title
  
  h2 Available Sensors

  if error
    p Error getting dynamic content.
  else
    each date in data
      ul
        li 
          a(href=date.url) #{date.metadata.app_id}
    else
      li No Sensors yet!
