@font-face {
  font-family: "Clan Medium";
  src: url("../images/clan-medium.otf") format("opentype"); }

@font-face {
  font-family: "Clan Book";
  src: url("../images/clan-book.otf") format("opentype"); }


body {
	font-family: "Clan Book";
}

.main-container {
	max-width: 800px;
	margin: auto;
}


.navbar {
	display: flex;
	padding: .5em;

}

.navbar > ul {
	list-style-type: none;
	display: flex;
	margin-left: auto;
	margin-top: 1em;

}


.navbar > ul > li > a {
	text-decoration: none;
	display: block;
	padding: .5em 1em;
	
}

.navbar-logo a {
	display: flex;
	text-decoration: none;
}

.navbar-logo .navbar-logo-text {
	font-family: "Clan Medium", "Arial", "sans-serif";
	color: black;
	font-size: 2.5em;
	margin-top: 0.3em;
	margin-left: 0.3em;
}

.red-text {
	color: #e60032;
}

.list-container {
	margin-top: 2em;

}

.tableheader {
	display: flex;

}

.tableheader-standort {
	margin-left:3em;
}

.tableheader-number {
	margin-left: 10em;
}

.line {
	width: 800px;
	height: 2px;
	color: black!important;
	background-color: black;
}

.tablerow {
	list-style-type: none;
	display: flex;
	align-items: center;
	margin-left: 1em;
	margin-bottom: 0.5em;
	font-size: 1.2em;
}

.owner-logo {
	width: 50px;
	height: 50px;
}

.owner-name {
	font-family: "Clan Medium", "Arial", "sans-serif";
	width: 200px;
	margin-left: 10px;
}

.sublist {

	list-style-type: none;
	max-width: 40em;
 	max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.sublist-item {
	display: flex;
	align-items: center;
	background-color: #d3d3d3;
	height: 2em;
	margin: 0.5em;
	font-size: 0.8em;
}

.sublist-item  a {
	margin-left: 2em;
	text-decoration: none;
}


.button-collapse {
	display: inline-block;
	height: 3em;
	width: 3em;
	background-color: #e60032;
	border-radius: 50%;
	margin-left: 5em;
	cursor: pointer;
}

/* This is just the arrow in the button*/
.button-collapse:after {
	content: '';
	display: inline-block;
	margin-top: 0.2em;
	margin-left: 0.1em;
	width: 0.6em;
	height: 0.6em;
	border-top: 0.2em solid #FFF; 
	border-right: 0.2em solid #FFF;
	-moz-transform: rotate(-225deg);
  	-webkit-transform: rotate(-225deg);
  	transform: rotate(-225deg);
}


.active, .button-collapse:hover {
    background-color: #555;
}


.providerBox {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	height: 10em;
	width: 10em;
	display: inline-block;
	text-align: center;
	margin-right: 3em;
	margin-top: 5em;
}

.providerBox > p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.providerBox > img {
	max-width: 100%;
	max-height: 100%;
}


.sensor-infobox {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin-top: 2em;
	height: 25em;
	line-height: 200%;
}

.sensor-infobox > ul {
	list-style: none;
	
}

#map-container {
	width: 100%;
	height: 25em;
	margin-top: 2em;
	float: right;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.marker {
  background-image: url('/images/map-marker.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

#vis-container {
	margin-top: 2em;
	float: left;
	width: 100%;
	height: 30em;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#vis-container > ul {
	list-style-type: none;
	margin-top: 2em;
}

input[type=checkbox] {
	margin-right: 0.5em;

}

.checkbox-label {
	font-weight: 400;
}

.footer {
	position: fixed;
	background-color: white;
	bottom: 0;
	margin-left: 2.5em;


}
